<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://mybatis.org/schema/mybatis-spring
  	http://mybatis.org/schema/mybatis-spring.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 扫描mybatis相关的bean -->
	<mybatis:scan base-package="com.netease.shop.dao" />
	<!-- 配置数据库相关参数properties的属性：${url} -->
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<!-- 配置连接池属性 -->
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- 可同时连接的最大的连接数 -->
		<property name="maxActive" value="60" />
		<!-- 最大的空闲的连接数 -->
		<property name="maxIdle" value="60" />
		<!-- 最小的空闲的连接数，低于这个数量会被创建新的连接，默认为0 -->
		<property name="minIdle" value="5" />
		<!-- 连接池启动时创建的初始化连接数量，默认值为0 -->
		<property name="initialSize" value="1" />
		<!-- 等待连接超时时间，毫秒，默认为无限 -->
		<property name="maxWait" value="30000" />

	</bean>

	<!-- 配置SqlSessionFactory对象 -->
	<!-- define the SqlSessionFactory, notice that configLocation is not needed 
		when you use MapperFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:com/netease/shop/dao/*.xml"></property>
	</bean>



	<!-- scan for mappers and let them be autowired -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

</beans>